<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confetti Cuisine</title>

    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/confetti_cuisine.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href=".//images/favicon.ico">
</head>
<body>
  <section>
    <div class="jumbotron jumbotron-fluid pb-15">
        <div class="container text-center">
          <h1 class="display-4">Confetti Cuisine</h1>
          <a href="/"><button>Home</button> </a>
          <a href="/courses.html"><button>Courses</button> </a>
          <a href="/contact.html"><button>Contact</button> </a>
        </div>
      </div>
  </section>
  <hr>
  <br>
  <section class="pt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
     <div class="container">
         <div class="row">
           <div class="col-md-6">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
           </div>
           <div class="col-md-6 pl-5 mt-5">
               <div>
               <h1>Pick A Course</h1>
               <p>Picka nd start being a pro</p>
               </div>
           </div>
         </div>
     </div>
    </div>
    <div class="col-2"></div>
  </div>
  </section>
  <section>
    <footer class="footer mt-auto py-3 text-center">
        <div class="footer-container ">
          <span class="text-muted fixed-bottom">©2020 Makini Makini</span>
        </div>
      </footer>
  </section>


</body>
</html>